body 
{
	background-image: url("/Users/lowelucinda/Documents/GitHub/lucindalowe.github.io/Unit_1/images/EventPreparation.jpg");
	background-color:rgb(0,0,0);
	font-family:Din, sans-serif;
	color:rgb(255,255,250);
	line-height:1.9;
}
nav {text-transform: right;
}

h1 {
	font-family:Din, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	letter-spacing: 1.5px;
}
h2 {font-family: Karla, sans-serif;
	font-weight:normal;
	text-align: center;
	letter-spacing: 0.5px;
	}

h3 {font-family: Din, sans-serif;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	font-weight:normal;

}
h4 {font-family: Din, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
	font-size: 16px;
	}

p {font-family: Chronicle, serif;
	font-size: 12px;
	text-align: center;
	letter-spacing: 1px
;

}
