@font-face {
	font-family: "DinNextLTPro-Regular";
	src: url("fonts/DINNextLTPro-Regular.ttf");
}
* {
	padding: 0;
	margin: 0;
	box-sizing:border-box;
}
body {
	font-size: 20px;
	color: #222222;
	line-height: 1.3;
	padding-bottom: 50px;
	font-family: DinNextLTPro-Regular, cursive;
}
header 	{
	padding: 0 1em;
}
header img {
	float: left;
}
#tagline {
	font-family: DinNextLTPro-Bold, sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-transform: uppercase;
	margin-top: 1em;
	float: left;
}
nav {float:right;margin-top: .75em;}
nav a {
	color: #222222;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 0.8em;
	padding: 5px;
	display: inline-block;
}
nav a:hover {
	color: rgb(232,105,21);
}
h1 {
	font-family: DinNextLTPro-Bold, sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 2em;
	color: white;
	letter-spacing: 1px;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.5);
}

h2 {
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	font-size: 1.5em;
	color: white;
	letter-spacing: 1px;
}
h3 {
	font-family: DinNextLTPro-Bold, sans-serif;
	font-size: 0.7em;
	margin-left: 25px;
	color: rgb(232,105,21);
	text-transform: uppercase;
	text-align: left;
/*	padding-bottom: 5px;*/
}

h4,h5 {
	text-transform: uppercase;
	font-size: 0.8em;
}
h4 {
	margin-left: 25px;
	font-size: 1.1em;
	padding-top: 1em;
	text-align: left;
}
h5 {
	font-family: DinNextLTPro-Bold, sans-serif;
}
#ultimateadventureweekends {
	text-align: center;
	font-size: 1.2em;
	color: white;
	padding-top: 20px;
	padding-left: 150px;
	padding-right: 150px;
	text-shadow:2px 2px 1px rgba(0,0,0,0.5);
	float: left;

}
.challenges {
	font-family: DINNextLTPro-Regular, sans-serif;
	text-align: center;
	color: white;
	width: 50%;
	float: left;
}
.challengesdiv {
	position: relative;
	text-shadow:2px 2px 1px rgba(0,0,0,0.5);
	padding-left: 50px;
	padding-right: 50px;
	transform: translateY(-270px);
}

.challenges img {
	width:100%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#testimonials {
	background-color: white;
	font-family: 'Crimson Text 400i', serif;
	font-style: italic;
	line-height: 1.5em;
	text-align: center;
	font-size: 1em;
	margin-left: 5em;
	margin-right: 5em;
/*	padding-top: 10em;*/
	padding-bottom: 5em;
}
cite {
	font-family: 'Montserrat', serif;
	font-style: normal;
	font-size: 0.8em;
	font-weight: normal;
	color: rgb(150,150,150);
	text-transform: uppercase;
	letter-spacing: 1px;
}

.explorelink {
	font-family: Roboto, sans-serif;
	color: white;
	margin-top: 10px;
	padding: 7px 15px 5px 15px;
	background-color: rgb(232,105,21);
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	letter-spacing: 2px;
	border-radius: 4px;
	font-size: 0.6em;
}

#asfeaturedin {
	background-color: rgb(200,200,200);
	text-align: center;
	padding-top: 25px;
}

#followus {
	padding-top: 1em;
	padding-bottom: 1.5em;
	background-color: black;
	text-align: center;
}
#followus img {
	padding-left: 25px;
	size: 1%;
}

.homepageinformationblocks {
	text-align: center;
	background-color: rgb(200,200,200);
}

.column {
	width: 50%;
	padding: 2em;
	float: left;
	text-align: left;
}
.column2 {
	padding:20px;
	width: 20em;
	display: inline-block;
}
.quote {
	padding-top: 30px;
	font-family: 'Crimson Text 400i', serif;
	font-style: italic;
	font-size: 0.7em;
	padding-left: 20px;
}
#IGOVideoembedded img {
	width:100%;
}
label {
	display:block;
}
#signup {
	background-color: rgb(232,105,21);
	padding: 4em 0;
	color: white;
	text-transform: uppercase;
	font-size: 0.8em;
	text-align: center;
}
#signuplink {
	text-decoration: none;
	font-family: Roboto, sans-serif;
	padding: 7px 15px 5px 15px;
	color: rgb(232,105,21);
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	letter-spacing: 2px;
	border-radius: 4px;
	font-size: 0.8em;
}
#intro {
	background:url(../images/DesertBike.png);
	background-size:cover;
	background-repeat:no-repeat;
	height: 100vh;
	padding:15em 0 0;
}
#information {
    background: #c8c8c8;
    padding: 2em 0;
}

#weekendadventures {
	background-size:50%;
	background-repeat:no-repeat;
	float: left;
	height: 25vh;
}

